{{#> base }}
 {{> nav }}
  <form action="/api/v1/add-post" method="post">
    <input type="text" name="title" placeholder="title">
    <input type="text" name="author" value="noname">
    <textarea name="content" placeholder="content"></textarea>
    <input type="submit" value="add">
  </form>
  <table>
    <tr>
      <th>id</th>
      <th>title</th>
      <th>content</th>
      <th>date</th>
      <th>author</th>
    </tr>

  {{#each articles}}
    <tr>
      <td>{{id}}</td>
      <td>{{title}}</td>
      <td>{{{content}}}</td>
      <td>{{date}}</td>
      <td>{{author}}</td>
    </tr>
  {{/each}}
  </table>
{{/base}}
