<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  {{> favicon}}
</head>

<body>
  <h1>Add post</h1>
  {{> nav }}
  <form action="/api/v1/add-post" method="post">
    <input type="text" name="title" placeholder="title">
    <input type="text" name="author" value="noname">
    <textarea name="content" placeholder="content"></textarea>
    <input type="submit" value="add">
  </form>
  <table>
    <tr>
      <th>id</th>
      <th>title</th>
      <th>content</th>
      <th>date</th>
      <th>author</th>
    </tr>

  {{#each articles}}
    <tr>
      <td>{{id}}</td>
      <td>{{title}}</td>
      <td>{{{content}}}</td>
      <td>{{date}}</td>
      <td>{{author}}</td>
    </tr>
  {{/each}}
  </table>
</body>

</html>
