{{#> base }}
  {{> nav }}
  <table>
  {{#each articles}}
    <tr>
      <td>{{id}}</td>
      <td>{{title}}</td>
      <td>{{{content}}}</td>
      <td>{{date}}</td>
      <td>{{author}}</td>
    </tr>
  {{/each}}
  </table>
{{/base}}
