<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  {{> favicon}}
</head>

<body>
  <h1>Look this!</h1>
  <table>
  {{#each articles}}
    <tr>
      <td>{{id}}</td>
      <td>{{title}}</td>
      <td>{{{content}}}</td>
      <td>{{date}}</td>
      <td>{{author}}</td>
    </tr>
  {{/each}}
  </table>
</body>

</html>
